/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

button {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}  


* {
    -webkit-tap-highlight-color: #e5c18b;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
html, body {
    overflow-x: hidden;
    height: 100%;
}
#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section {
    margin-bottom: 60px
}
section h1 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}
section p {
    margin-bottom: 40px
}
section p:last-child {
    margin-bottom: 0
}
section:last-child {
    margin-bottom: 0
}
section.toggle {
    text-align: center
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* index content view
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

#main-content { 
    width:100%;
    height: 590px;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* research section
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.button-section {
    position: relative;
    text-align: center;
}

.research-button {
    text-align: center;
    position: absolute;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Map view
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

#map-canvas {
    width:100%;
    height:280px;
    z-index: 2;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 1100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}



    
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Toggle Buttons early prototype 
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.buttons {
    z-index: 4;
    text-align: left;
    background-color: #3184a1;
}
.buttons button {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    background-color: #67b5d1;
}
.buttons button:hover,
.buttons button.active {
    background-color: #3184a1
}
.buttons button:focus {
    outline: none
}

.bar {
    display: block;
    width: 20px;
    margin-bottom: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;   
}

.hollow {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: inset 0 0 0 4px #67b5d1, 0 0 1px rgba(0, 0, 0, 0);
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Top menus early prototype 
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.usertop{
    float: right;
    margin-top: 23px;
    z-index: 3;
    color: #fff;
    text-transform: uppercase;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}

.usertext{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* research early prototype 
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.fotterButtons {
    float: right;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus early prototype 
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #67b5d1;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu a {
    font-weight: 300;
    color: #fff;
}
button.close-menu {
    background-color: #3184a1;
    color: #fff;
}
button.close-menu:focus {
    outline: none
}
/* slide menu left */
nav.slide-menu-left {
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-left li {
    display: block;
    text-align: center;
    border-bottom: solid 1px #3184a1;
    border-top: solid 1px #b5dbe9;
}
nav.slide-menu-left li:first-child {
    border-top: none
}
nav.slide-menu-left li:last-child {
    border-bottom: none
}
nav.slide-menu-left a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #3184a1;
    color: #fff;
}
nav.slide-menu-left {
    left: -300px
}

body.sml-open nav.slide-menu-left {
    left: 0
}

body.pml-open #wrapper {
    left: 300px
}
body.pmr-open #wrapper {
    left: -300px
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Hero headers
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.hero {
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-top: 40%;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}


.userText {
    text-shadow: 1px 1px 0 #67b5d1;
    display: inline
}

.researchName {
    text-shadow: 1px 1px 0 #67b5d1;
    display: inline
}

#userName {
    text-shadow: 1px 1px 0 #67b5d1;
    display: inline
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* panel buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#myPanel {
    background: #67b5d1; 
    color: black;
}

#homePage {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#login {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#closePanel {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#moreInfo {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#menuButton {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
    z-index: 3;
}

#loginButton {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#account {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#newResearch {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#logout {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#addButton {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#btn1 {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#btn2 {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#btn3 {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#btn4 {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#btn5 {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#btn6 {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#doneButton {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#export {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

#registerButton {
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* content
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.ui-content { 
    background:#B5DBE9 !important;
    background-size : 100% 100%;
}

.ui-btn { border: none !important; }
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Custom buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.btn.btn-lg {padding: 20px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 10px 10px;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* error messages
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.error-notice {
  margin: 5px 5px; /* Making sure to keep some distance from all side */
}

.oaerror {
  width: 90%; /* Configure it fit in your design  */
  margin: 0 auto; /* Centering Stuff */
  background-color: #FFFFFF; /* Default background */
  padding: 15px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.danger {
  border-left-color: #d9534f; /* Left side border color */
  background-color: rgba(217, 83, 79, 0.1); /* Same color as the left border with reduced alpha to 0.1 */
}

.danger strong {
  color:  #d9534f;
}

.warning {
  border-left-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}

.warning strong {
  color: #f0ad4e;
}

.info {
  border-left-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}

.info strong {
  color: #5bc0de;
}

.success {
  border-left-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}

.success strong {
  color: #2b542c;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* input box in new research
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

#main-ui-content {
    padding-top: 35px;
}

#searchinput {
    width: 200px;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#createResearch {
    float: right;
    background:#75d1be; 
    color: black;
    text-shadow: 1px 1px 0 #75d1be;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* ethics form
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.ethics-text-fill {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #000;
}

.ethics-button {
    float: right;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* JQuery panel
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.panel-close-button {
    text-align: center;
}

.panel-content-btn {
    width: 100%;
}

.header-text {
    height: 46px;

}

#headerPanel {
    background: #67b5d1; 
    color: black; 
    text-shadow: 1px 1px 0 #67b5d1;
}


.status-area {
    text-align: center;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Login 
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.login-main {
    margin-top: 15%;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Login 
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.register-main {
    margin-top: 15%;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Private 
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

#researchTable {
    margin-top: 10%;
    table-layout:fixed;
    margin-bottom: 10%;
    border: 1px solid black;
}



.table-wrapper {

    width: 100%;
    height: 100%;
    overflow: auto;
}

table {
    border: 1px solid black;
    margin-right: 20px;
    
}

td {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    overflow:hidden;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* View research 
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.viewResearch {
    margin-top: 15%;
}

#optionsCell {
    padding-top: 20px;
    padding-left: 20px;
/*    white-space:pre;*/
}

#researchFooter {
    margin-top: 3%;
}

#result {
    text-align: center;
}