/*
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

	h2 {
		font-size: 1.75em;
		line-height: 1.35em;
		letter-spacing: -0.025em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1em;
	}

/* Section/Article */

	header.major {
		padding: 1em;
	}

		header.major h2, header.major p {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}

/* Box */

	.box {
		margin: 1em;
		overflow-x: hidden;
		padding: 2em 2em !important;
	}

		.box.features .features-row {
			border-top: 0;
			padding: 0;
		}

			.box.features .features-row section {
				border: 0;
				border-top: solid 1px #e5e5e5 !important;
				float: none;
				margin: 2em 0 0 0 !important;
				padding: 2em 0 0 0 !important;
				width: 100%;
			}

			.box.features .features-row:first-child section:first-child {
				border-top: 0 !important;
				margin-top: 0 !important;
				padding-top: 0 !important;
			}

		.box .image.featured {
			margin-left: -2em;
			width: calc(100% + 4em);
		}

			.box .image.featured:first-child {
				margin-bottom: 2em;
				margin-top: -2em;
			}

			.box .image.featured:last-child {
				margin-bottom: -2em;
				margin-top: 2em;
			}

/* Banner */

	#banner {
		padding: 4em 0;
	}

		#banner h2 {
			font-size: 2.25em;
		}

		#banner p {
			font-size: 1.25em;
		}

/* Main */

	#main {
		padding: 4em 0 0 0;
        
	}

		#main > header {
			margin: 0 2em 1.5em 2em;
		}

			#main > header h2 {
				font-size: 2em;
			}

			#main > header p {
				font-size: 1em;
				padding-bottom: 1em;
			}

	body.landing #main {
		padding: 0;
		margin-top: 6em;
	}

/* Footer */

	#footer {
		padding: 4em 0;
	}

		#footer .copyright li {
			border-left: 0;
			display: block;
			line-height: 2em;
			margin-left: 0;
			padding-left: 0;
		}